

.searchField{
	
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	overflow:hidden;
	whitespace:nowrap;
	max-width:80%;
	
}


#myText{
	width: 600%;
	border-bottom: 1px solid black;
	margin-top: 20px;

}

#myTextRemove{
	width: 600%;
	border-bottom: 1px solid black;
	margin-top: 20px;
}




textarea{
	font-size: 28px;
	resize: none;
	outline: none;
	border: 0px;
	width: 100%;
	float: left;
}

textarea:focus{
	border: none;
	outline: none;
}


textarea::-webkit-input-placeholder {  
	font-family: open sans;
	font-weight: 100;
	color: #78797c;
	font-size: 26px;
}

#rightTd{
	min-width: 200px;
	float: left;
}

#leftTd{
	display: inline-block;
	width: auto;
    float: left;

}



#menuItem{
	cursor: pointer;
	text-align: center;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: open sans;
}

#menuItem:hover{
	color: #4771B8;
	font-weight: bold;
}

#addButton{
	font-family: open sans;
	cursor: pointer;
	font-weight: bold;
	border-bottom: 1px solid black;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	padding: 15px;
	width: 200px;
}


#instructions{
	font-family: open sans;
	padding: 15px;
	padding-top: 0px;
	max-width: 200px;
	border-bottom: 1px solid black;
	text-align: center;
}


#deleteButton{
	font-family: open sans;
	color: red;
	text-align: center;
	cursor: pointer;
	padding: 15px;
	margin-bottom: 0px;
	border-top: 1px solid black;
}

#deleteButton:hover{
	font-weight: bold;
	}


#includeSuggestions{
	margin-top: 100px;
}

#excludeSuggestions{
	margin-top: 160px;
}

#chipInfo{
	float: left;
	margin-top: 10px;
	padding: 3px;
	position: absolute;
	margin-left: -60px;
	padding-right: 8px;
	padding-left: 8px;
	background-color: gray;
	color: white;
	border-radius: 100px 100px 100px 100px;
	text-align: center;
}

#chipInfo:hover{
	cursor: pointer;
}

#OrStatementGuide{
	width: 120px;
	border: 1px solid black;
	box-shadow: 1px 1px 1px gray;
	text-align: center;
	background-color: white;
	z-index: 999;
	position: fixed;
	left: 14px;
	top: 145px;
}

#chipInfo2{
	float: left;
	margin-top: 70px;
	padding: 3px;
	position: absolute;
	margin-left: -60px;
	padding-right: 8px;
	padding-left: 8px;
	background-color: gray;
	color: white;
	border-radius: 100px 100px 100px 100px;
	text-align: center;
}

#chipInfo2:hover{
	cursor: pointer;
}


#OrStatementGuide2{
	width: 140px;
	border: 1px solid black;
	box-shadow: 1px 1px 1px gray;
	text-align: center;
	background-color: white;
	z-index: 999;
	position: fixed;
	left: 14px;
	top: 220px;
}

#OrStatementGuide3{
	width: 140px;
	border: 1px solid black;
	box-shadow: 1px 1px 1px gray;
	text-align: center;
	background-color: white;
	z-index: 999;
	position: fixed;
	left: 14px;
	top: 280px;
}

#chipInfo3{
	float: left;
	margin-top: 130px;
	padding: 3px;
	position: absolute;
	margin-left: -60px;
	padding-right: 8px;
	padding-left: 8px;
	background-color: gray;
	color: white;
	border-radius: 100px 100px 100px 100px;
	text-align: center;
}

#chipInfo3:hover{
	cursor: pointer;
}






































